html {
	font-family: sans-serif;
  }
  
  form {
	display: table;
	margin: 0 auto;
  
  }
  
  form input {
	float:right;
  }
  
  form select{
	  float:right;
  }
  
  *{
	  margin:0;
	  padding:0;
  }
  
  body{
	  background:#DEF0EE;
  }
  
  header, .contenedor, footer{
	  background:#fff; 
	  width:90%;
	  max-width: 1000px;
	  margin: 2px auto;
  
  }
  header nav{
	  background: #3FBBC0;
	  overflow: hidden;
  }
  
  header nav ul {
	  list-style: none;
  }
  
  header nav ul li a{
	  padding:8px 18px;
	  display:block;
	  color:#fff;
	  text-decoration:none; 
	  float:right;
  }
  
  header nav ul li a:hover{
	  background:#4ACCD1;
	  text-decoration:none; 
  }
  
  .contenedor .articles {
	  width:69.8%;
	  margin-right:0%;
	  float:right;
  }
  
  .contenedor .articles div input:hover{
	  text-decoration: none;
	  padding: 7px;
	  font-weight: 600;
	  font-size: 16px;
	  color: #ffffff;
	  background-color: #43A3B3;
	  border-radius: 7px;
	  border: 2px solid #2C8694;
	  cursor:pointer; 
  }
  
  .contenedor .articles article{
	  padding: 41.3px;
	  background: #fff;
	  margin-bottom:2px
  
  }
  
  aside{
	  width:30%;
	  background: #fff;
	  float:left;
	  padding: 15.6px;
	  box-sizing: border-box;
	  text-align:justify;
  }
  
  aside img{
  border-radius: 6px;
  }
  
  aside hr{
	  border:0.7px solid #DEF0EE;
  }
  
  footer{
  
	  background: #43A3B3;
	  color:#fff;
	  clear:both;
	  padding:1px 0px;
	  text-align:center;
  }
  
  
  h1,h2,h3{
	  color:#66B7C4;
  }
  
.form{
	width: 60%;
	margin: auto;
}

.form input, .form select{
	float: right;
}

.msg{
	text-align: center;
	text-transform: uppercase;
}